﻿
@{
    Layout = null;
}
@using Test.ViewModels
@model EnrolmentListViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <hr />
    <div>
        <table border="1">
            <tr>
                <th>Student ID</th>
                <th>Course No</th>
                <th>Grade</th>
            </tr>
            @foreach (EnrolmentViewModel item in Model.enrolment)
            {
                <tr>
                    <td>@item.StudentID</td>
                    <td>@item.CourseNo</td>
                    <td>@item.Grade</td>
                </tr>
            }
        </table>
        <a href="/Enrolment/AddNew">Add New</a>
        <br />
        <a href="/Student/Index">Student</a>
        <br />
        <a href="/Course/Index">Course</a>
    </div>

</body>
</html>
