﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateStudent</title>
    <script>
        function ResetForm() {
            document.getElementById('TxtStdID').value = "";
            document.getElementById('TxtFName').value = "";
            document.getElementById('TxtLName').value = "";
            document.getElementById('TxtYear').value = "";
    }
    </script>
</head>
<body>
    <div>
        <form action="/Student/SaveStudent" method="post">
            Student ID: <input type="text" id="TxtStdID" name="StudentID" value="" /><br />
            First Name: <input type="text" id="TxtFName" name="FirstName" value="" />
            <span style="color:red">@Html.ValidationMessage("FirstName")</span><br />
            Last Name: <input type="text" id="TxtLName" name="LastName" value="" />
            <span style="color:red">@Html.ValidationMessage("LastName")</span><br />
            Year: 
            <select id="TxtYear" name="Year">
                <option value="Freshman">Freshman</option>
                <option value="Sophomore">Sophomore</option>
                <option value="Junior">Junior</option>
                <option value="Senior">Senior</option>
            </select><br />
            <input type="submit" name="BtnSubmit" value="Save Student" />
            <input type="button" name="BtnReset" value="Reset" onclick="ResetForm();" />
            <input type="submit" name="BtnSubmit" value="Cancel" />
        </form>
    </div>
</body>
</html>
