﻿
@{
    Layout = null;
}
@using Test.ViewModels
@model CourseListViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <hr />
    <div>
        <table border="1">
            <tr>
                <th>Course No</th>
                <th>Course Name</th>
                <th>Credit</th>
            </tr>
            @foreach (CourseViewModel item in Model.course)
            {
                <tr>
                    <td>@item.CourseNo</td>
                    <td>@item.CourseName</td>
                    <td>@item.Credit</td>
                </tr>
            }
        </table>
        <a href="/Course/AddNew">Add New</a>
        <br />
        <a href="/Student/Index">Student</a>
        <br />
        <a href="/Enrolment/Index">Enrolment</a>
    </div>

</body>
</html>
